body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 500;
	font-family: "Roboto", "Arial", sans-serif;
	color: rgb(0, 0, 0);
}

img {
	width: 100%;
	height: auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
}

header {
	padding-top: 27px;
	padding-bottom: 59px;
	background-color: rgb(238, 238, 238);
}

.header-menu a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.header-menu {
	margin-bottom: 75px;
}

.logo {
	float: left;
	width: 139px;
	height: 56px;
}

.logo img {
	width: 139px;
	height: 56px;
}

.main-navigation {
	float: right;
	max-width: 490px;
	padding-top: 28px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
}

.main-navigation a,
.cart a {
	display: block;
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
}

.main-navigation a {
	padding: 0 23px;
}

.cart {
	float: right;
	max-width: 100px;
	margin-left: 41px;
	padding-top: 28px;
}

.cart a {
	padding-left: 32px;
}

.btn {
	display: block;
	width: 240px;
	padding: 11px 0;
	font-size: 12px;
	line-height: 16px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background-color: rgb(251, 86, 90);
	border-radius: 3px;
}

.header-slider {
	position: relative;
}

.header-slider input[type="radio"] {
	display: none;
}

.slider-inner {
	overflow: hidden;
}

.slider-slides {
	width: 300%;
	transition: all 1s;
}

.slider-controls {
	position: absolute;
	left: 406px;
	bottom: 10px;
	z-index: 1;
}

.slider-controls label {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-right: 3px;
	background-color: rgb(255, 255, 255);
	border: 3px solid rgb(255, 255, 255);
	border-radius: 50%;
	cursor: pointer;
	transition: all 1s;
}

#btn-1:checked~.slider-controls label[for="btn-1"],
#btn-2:checked~.slider-controls label[for="btn-2"],
#btn-3:checked~.slider-controls label[for="btn-3"] {
	background-color: rgb(193, 193, 193);
}

#btn-1:checked~.slider-inner .slider-slides {
	transform: translateX(0);
}

#btn-2:checked~.slider-inner .slider-slides {
	transform: translateX(-880px);
}

#btn-3:checked~.slider-inner .slider-slides {
	transform: translateX(-1760px);
}

#btn-1:checked~.slider-controls label[for="btn-1"]::after {
	content: "";
	position: absolute;
	top: -195px;
	right: -422px;
	width: 338px;
	height: 231px;
	background: url("../img/Layer-29.png") no-repeat;
	cursor: default;
}

#btn-2:checked~.slider-controls label[for="btn-2"]::after {
	content: "";
	position: absolute;
	top: -187px;
	right: -414px;
	width: 230px;
	height: 249px;
	background: url("../img/Layer-40.png") no-repeat;
	cursor: default;
}

#btn-3:checked~.slider-controls label[for="btn-3"]::after {
	content: "";
	position: absolute;
	top: -211px;
	right: -415px;
	width: 333px;
	height: 319px;
	background: url("../img/Layer-37.png") no-repeat;
	cursor: default;
}

.slider {
	float: left;
	width: 880px;
}

.slider b {
	display: block;
	font-size: 36px;
	line-height: 36px;
}

.slider p {
	margin-bottom: 29px;
	line-height: 22px;
	color: rgb(40, 49, 54);
}

.slider-1 {
	position: relative;
}

.slider-1 b {
	width: 250px;
}

.slider-1 p {
	width: 365px;
}

.slider-2 {
	position: relative;
}

.slider-2 b {
	width: 470px;
}

.slider-2 p {
	width: 450px;
}

.slider-3 {
	position: relative;
}

.slider-3 b {
	width: 320px;
}

.slider-3 p {
	width: 470px;
}
